// Import Font
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "SF Compact Display Bold";
  src: url("../styles/fonts/SF-Compact-Display-Bold.ttf");
}
@import "functions";
@import "mixins";

*::-webkit-scrollbar {
  display: none;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
}

* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

button {
  font-family: "SF Compact Display Bold";
  border: 0;
}

h1 {
  @include text(50, 900, 61);
  margin: rem(24) 0;
  @include for-tablet {
    @include text(28, 800, 37);
    text-align: center;
  }
}

h2 {
  @include text(48, 800, 64);
  margin: rem(20) 0;
  @include for-tablet {
    @include text(26, 800, 35);
    text-align: center;
  }
}

h3 {
  @include text(35, 700, 52.5);
  margin: rem(16) 0;
  @include for-tablet {
    @include text(20, 700, 30);
    text-align: center;
  }
}
h4 {
  @include text(14, 500, 16);
  letter-spacing: rem(4);
  text-transform: uppercase;
  margin: rem(12) 0;
  @include for-tablet {
    text-align: center;
  }
}

p {
  @include text(20, 500, 34);
  margin: rem(8) 0;
  @include for-tablet {
    @include text(18, 600, 27);
  }
}

small {
  @include text(12, 700, 16);
  margin: rem(4) 0;
}

.landing {
  height: 100vh;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  &__header {
    display: flex;
    justify-content: start;
    background: transparent;
    button {
      position: absolute;
      right: 0;
      top: 0;
    }
    @include for-tablet {
      width: 100vh;
      background: #6424ff;
      height: rem(134);
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      button {
        position: relative;
      }
    }
  }
  &__info {
    background: #6424ff;
    padding: rem(30) rem(15);
    margin: rem(51) rem(26);
    @include for-tablet{
      button{
        @include text (28, 800, 33)
      }
    }

  }
  &__content {
    &--logo {
      height: rem(50);
      margin-bottom: rem(50);
      @include for-tablet {
        margin: 0;
      }
    }
    &--left {
      width: 50%;
      padding: rem(30) rem(70) rem(0) rem(100);
      background: #6424ff;
      color: white;
      @include for-tablet {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
        padding: 0;
        background-image: url("/landing-photo.jpg");
      }
    }
    &--right {
      // display: flex;
      width: 50%;
      padding: rem(30) rem(100) rem(0) rem(70);
      background-image: url("/landing-photo.jpg");
      background-position: center;
      text-align: end;
      position: relative;
      @include for-tablet {
        display: none;
      }
    }
  }
  &__footer {
    text-align: justify;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: rem(30);
    box-sizing: border-box;
    color: white;
    background: #00000030;
    @include for-tablet {
      display: none;
    }
  }
}

.feed {
  &__newsletters {
    display: flex;
    overflow-x: scroll;
    width: 100%;
    height: rem(130);
    padding: rem(40) 0;
    box-sizing: border-box;
    justify-content: space-evenly;
    opacity: 0.5;
    img {
      margin: 0 rem(30);
    }
    @include for-desktop-1234 {
      display: none;
    }
  }
  &__posts {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-items: stretch;
    justify-content: stretch;
    align-items: stretch;
    background: #6424ff;
    margin: 0 rem(100);
    box-sizing: border-box;
    padding: rem(30);
    max-height: 100vh;
    overflow-y: scroll;
    @include for-tablet {
      margin: rem(20) 0;
    }
    &--text {
      @include text(18, 500, 27);
    }
    &--author {
      @include text(18, 700, 27);
      color: #6424ff;
    }
    &--date {
      @include text(20, 700, 30);
      color: white;
    }
    &--content {
      margin-bottom: 30px;
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: rem(100);
    color: #333333;
    @include for-tablet {
      padding: rem(20) rem(24);
    }
    &--info {
    }
    &--img {
      margin: rem(-50) 0;
      object-fit: contain;
      object-position: center;
      @include for-tablet {
        width: 100%;
        margin: 0;
      }
    }
  }
}

.footer {
  &__promo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(160);
    margin-bottom: rem(40);
    background: #6424ff;
    color: white;
    position: relative;
    button {
      position: absolute;
      bottom: rem(-40);
    }
  }
  &__info {
    display: flex;
    height: rem(100);
    justify-content: space-around;
    align-items: center;
    @include for-tablet {
      display: none;
    }
  }
}
